/* CATEGORÃAS */
#categorias .card {
    height: 100%;
    text-decoration: none;
    text-align: center;
    color: var(--bs-dark);
    padding: 1rem;
}

#categorias { 
    visibility: hidden;
}

#categorias > * { 
    visibility: visible; 
    transition: all 0.2s linear;
}

#categorias:hover > * { 
    opacity: 0.4; 
    transform: scale(0.9); 
}

#categorias > *:hover {
    opacity: 1;
    transform: scale(1.1);
    transition-delay: 0ms, 0ms;
}

#categorias .card > img {
    width: 64px;
    margin: auto;
    filter: grayscale(1) brightness(1.5);
}

#categorias .card > h5 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
}

#categorias .card:hover {
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

#categorias .card:hover > img {
    filter: none;
}

/* ULTIMOS LIBROS */
#ultimos-libros .card {
    position: relative;
    overflow: hidden;
    max-height: 20rem;
}

#ultimos-libros .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bs-primary);
    opacity: 0.75;
    transition: all 0.3s;
}

#ultimos-libros .card + .card {
    margin-left: 1rem;
}

#ultimos-libros .card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ultimos-libros .card > p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 1rem;
    background-color: white;
    opacity: 1;
    transition: all 0.3s;
}

#ultimos-libros .card > p > * {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#ultimos-libros .card > p > span {
    margin-top: -0.25rem;
    font-size: 0.8rem;
    opacity: 0.75;
}

#ultimos-libros .card:hover > p {
    bottom: -100%;
}

#ultimos-libros .card:hover:before {
    opacity: 0;
}

#ultimos-libros button {
    top: 40%;
    font-size: 2rem;
    padding: 0 0.25rem;
}

/* LIBROS ACTUALES */
#libros-actuales .card {
    overflow: hidden;
    transition: all 0.15s linear;
}

#libros-actuales .card:hover {
    background-color: var(--bs-primary);
    color: var(--bs-light);
    transform: scale(1.025);
}

#libros-actuales .card:hover .text-muted {
    color: var(--bs-white) !important;
}

#libros-actuales .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#libros-actuales .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#libros-actuales img {
    width: 100%;
    height: 100%;
    max-height: 15em;
    object-fit: cover;
}

#libros-actuales h4 {
    font-weight: bold;
    margin: 0;
}